{% extends "layout.html" %}

{% block heading %}
    <title>Books Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
{% endblock %}

{% block body %}
    <h2>All Books</h2>
    <div>
        <table class = "table table-bordered table-hover table-dark ">
            <th scope = "col">Isbn</th>
            <th scope = "col">Title</th>
            <th scope = "col">Author</th>
            <th scope = "col">Year</th>
            <th scope = "col">Owned by</th>
            <th scope = "col">Reviewed by</th>
            {% for book in books %}
            <tr>
                <td>{{ book.isbn }}</td>
                <td><a href="{{ url_for('books') }}/{{ book.title }}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.owned_by }}</td>
                <td>{{ book.reviewed_by }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}