{% extends "inner_layout.html" %}

{% block heading %}
    <title>            
        {% for book in books %}
            {{ book.title }}
        {% endfor %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}">
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'>
{% endblock %}

{% block body %}
    <div class = custom_div>
        {% for book in books %}
        <h1 class="display-4">{{ book.title }}</h1>
        <p class="lead">Author: {{ book.author }}</p>
        <hr class="my-4">
        <p>Isbn: {{ book.isbn }}</p>
        <p>Year: {{ book.year }}</p>
        {% endfor %}
        <p>Average rating: 
            {% if avg[0] is not none %}
                {%for j in range(avg[0]|round|int) %}
                <span class="fa fa-star checked"></span>
                {% endfor %}
            {% endif %}
        </p>
        <hr class="my-4">
        <h4> Good reads </h4>
        <p>Work rating count: {{ data[0] }}</p>
        <p>Work reviews count: {{ data[2] }} </p>
        <p>Average rating: {{ data[1] }} </p>
    </div>

    <h2 id="comments-section"> Comments on the book</h2>

    {% for review in reviews %}
    <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ review.username }}</h5>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                {%for i in range(review.rate) %}
                <span class="fa fa-star checked"></span>
                {%endfor %}
                <p class="card-text">{{ review.review }}</p>
            </div>
    </div>
    {% endfor %}
    
    <div class="card">
            <div class="card-body">
                <form action="{{ url_for('submit_comment') }}" method ="POST">
                        <div class="stars">
                            <input class="star star-5" id="star-5" type="radio" name="star" value = "5"/>
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" value = "4"/>
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" value = "3"/>
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" value = "2"/>
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" value = "1"/>
                            <label class="star star-1" for="star-1"></label>
                            </div>
                    <div class = "form-group">
                        <textarea class = "form-control" type="text" name="comment" placeholder="Leave a comment" rows = "5"></textarea>
                    </div>
                    <div class = "form-group">
                            <button class="btn btn-success">Submit</button>
                    </div>
                    <a class = "btn btn-danger" href="{{ url_for('delete_comment') }}">Delete your comment</a>
                </form>
            </div>
    </div>    
{% endblock %}