<!DOCTYPE html>
<html>
    <head>
            
            <title>Login Page</title>
            <link rel="stylesheet" href="login.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <a href="login.html">This is the link to my other website</a>
        <p><input type="text" name="name" placeholder="Enter your username"></p>
        <p><input type="password" name="password" placeholder="Enter your password"></p>
        <div> 
            <button type="button" class="btn btn-primary">Login</button>
        </div>
    </body>
</html>