{% extends "layout.html" %}

{% block heading %}
    <title> Login Interface</title>
    <link rel="stylesheet" href="login.css">
{% endblock %}

{% block body %}
    <div style="text-align:center";>
        <h1>Book Review</h1>
        <p><input type="text" name="name" placeholder="Username"></p>
        <p><input type="password" name="password" placeholder="Password"></p>
        <button type="button" class="btn btn-primary">Login</button> or 
        <a class = "btn btn-success"  href="{{ url_for('signup') }}">Sign up</a>
    </div>
{% endblock %}