{% extends "layout.html" %}

{% block heading %}
    <title>Users Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
{% endblock %}

{% block body %}
    <h2>All Users</h2>
    <div>
        <table class = "table table-bordered table-hover table-dark">
            <th scope = "col">Id</th>
            <th scope = "col">Username</th>
            <th scope = "col">Password</th>
            <th scope = "col">Book Owned</th>
            <th scope = "col">Book Reviewed</th>
            {% for user in users %}
            <tr>
                <td>{{ user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>{{user.book_owned}}</td>
                <td>{{user.book_reviewed}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}